.portfolio-page{
  background-color: #0f0e17;
}

.cards{
  align-items: center;
}


.top-shota h1{
    color: rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    font-size: 3rem;
    padding: 2rem;
    width: 100%;
    font-family: 'Bebas Neue',sans-serif;
    font-weight: bolder;
    text-align:center;
    align-items: center;
    text-align: center;
  }
