/* navbar.css */
.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease; /* Adjust the transition duration as desired */
}

.nav-link:hover::after {
  width: 100%;
}