/* styles.css */
.container {
  display: flex;
  justify-content: center; /* Center the boxes horizontally */
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  flex-wrap: wrap; /* Wrap the boxes if they exceed the container's width */
}

.box {
  text-align: center;
  padding: 20px;
  background-color: black; /* Set the background color to black */
  border-radius: 4px;
  flex: 1 0 300px; /* Each box takes equal width of 300px with a maximum width of 300px */
  margin: 10px; /* Adjust the margin between the boxes as needed */
  outline: 2px solid transparent; /* Set a transparent outline */
  transition: outline 0.2s; /* Add a transition effect to the outline */
}

.box:hover {
  outline: 2px solid white; /* Apply white outline on hover */
}

.box-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

.box-text {
  margin-top: 10px;
  color: white; /* Set the text color to white */
}



.buttons-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 25%;
  padding: 0 20px; /* Add padding if needed */
}

/* Add styles for the buttons */
.button-left,
.button-right {
  width: 120px;
  height: 40px;
  background-color: darkgrey;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}



/* Add styles for the buttons container */
.buttons-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 25%;
  padding: 0 20px; /* Add padding if needed */
}

/* Add styles for the buttons */
.button-left,
.button-right {
  width: 120px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 4px 4px 0 white;
  transition: transform 0.2s, box shadow 0.2s; 
}

.button-left {
  margin-right: 40px; /* Add margin to space out the left button */
}

.button-right {
  margin-left: 40px; /* Add margin to space out the right button */
}

.button-left:active,
.button-right:active{
  transform: translateX(4px) translateY(4px);
  box-shadow : 0 0 0 white;


}

.navbar-container {
  background-color: black;
}


