@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@600&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Lato:wght@300&display=swap%27');


.home-comp {
    padding-top: 100px;
    background-color: #0f0e17;
    position: relative;
    overflow: hidden;
}

.col {
    width: 100%;
    padding: 2rem;
    background-color: black;
    text-align: center;
    font-family: 'Bebas Neue',sans-serif;
    font-style: normal;
    position: absolute;
    top: 0;
    left: 0;
    
}
  
h1 {
    font-size: 2rem;
    margin: 0;
    color: #a7a9be;
}

body{
    background-color: #0f0e17
}

.web-dev p{
  padding-top: 10px;
  text-align: center;
  color: #a7a9be;
}

.web-dev h1{
  margin: 0;
  color: white;
  font-size: 4rem;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  text-align:center
}

.web-dev {
  background-image: url('./background.jpg'); /* Use the relative path to your image */
  background-size: cover;
  background-position: relative;
  padding: 20rem;
  object-fit: cover;
}

.web-mod{
  background-image: url('./bg-two.png');
  background-size: cover;
  background-position: relative;
  padding: 20rem;
  object-fit: fill;
}

.web-mod h1{
  margin: 0;
  color: white;
  font-size: 4rem;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  text-align:center
}
.web-mod p{
  padding-top: 10px;
  text-align: center;
  color: #a7a9be;
}

.SFC{
  background-image: url('./SIMPLE-SKY@2x.png');
  background-size: cover;
  background-position: relative;
  padding: 20rem;
  object-fit: fill;
}



.SFC h1{
  margin: 0;
  color: white;
  font-size: 4rem;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  text-align:center
}
.SFC p{
  padding-top: 10px;
  text-align: center;
  color: #a7a9be;
}